<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" charset="utf-8" content="width=device-width, initial-scale=1.0">
    <title>Samuel Langlois's Personal Website</title>
    <link rel="stylesheet" href="css/bodyStyles.css">
</head>

<body>
	<!-- This is the menu -->
	<header class="header">
		<nav id="headerNav">
			<menu id="menu" class="menu">
				<li id="aboutMe" class="menuItem">
					About me
					<div class="menuList" hidden>
						<b class="menuOption">item 1</b>
						<b class="menuOption">item 2</b>
						<b class="menuOption">item 3</b>
					</div>
				</li>
				<li id="projects" class="menuItem">
					Github Projects
					<div class="menuList" hidden>
						<b class="menuOption">RPG Table Maker</b>
						<b class="menuOption">RPG Shop Viewer</b>
						<b class="menuOption">Git 1</b>
						<b class="menuOption">Git 2</b>
						<b class="menuOption">Git 3</b>
						<b class="menuOption">Git 4</b>
						<b class="menuOption">Git 5</b>
						<b class="menuOption">Git 6</b>
						<b class="menuOption">Git 7</b>
						<b class="menuOption">Git 8</b>
						<b class="menuOption">Git 9</b>
						<b class="menuOption">Git 10</b>
						<b class="menuOption">Git 11</b>
						<b class="menuOption">Git 12</b>
					</div>
				</li>
				<li id="jokeAPI" class="menuItem">
					Tell A Joke
				</li>
			</menu>
		</nav>
	</header>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="scripts/buttonMech.js"></script>
</body>

</html>